<!DOCTYPE html>
<head>
    <title>
      {% if page.title != 'Home' %}
        {{ page.title }} | Owen Laney
      {% else %}
        Owen Laney
      {% endif %}
    </title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="YQepl9WgWX2cXzLgfF-LcOvnMDCV9edY3OeSOZJEgcU" />
  </head>

<html>
  <body>
    <header class="navbar">
      <div>
        <a class="home-btn" href={{ "/" }}>Owen Laney</a><a href="#" id="aboutBtn">About</a><a href={{ "/portfolio" }}>Portfolio</a><a href={{ "/blog" }}>Blog</a>
      </div>
      <div>
        <a href="mailto:owenlaney@gmail.com">Contact</a>
      </div>
    </header>

    <section class="content">
      {{ content }}
    </section>

    <!-- The Modal -->
    <div id="aboutModal" class="modal">

      <!-- Modal content -->
      <div class="modal-window">
        <div class="modal-content">
          <h2>About Me</h2><div class="close">×</div>
          <p>
            Hello! My name is Owen Laney, and I like to program and make software. I have experience with web technologies such as Ruby on Rails, Sass, and JavaScript. Currently I'm learning C++ and native application development.
          </p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div>
        <a href={{ "/" }}>Home</a>
        <a href={{ "/portfolio"}}>Portfolio</a>
        <a href={{ "/blog" }}>Blog</a>
      </div>
      <a>|</a>
      <div>
        <a href="https://github.com/owen-laney">Github</a>
        <a href="https://www.linkedin.com/in/owen-laney-07b78a239/">LinkedIn</a>
      </div>
      <a>|</a>
      <div>
        <a>©2022 owen-laney.github.io</a>
      </div>
      <div class="contact">
        <a href="mailto:owenlaney@gmail.com">Contact</a>
      </div>
    </footer>

    <script src="/scripts/main.js"></script>

  </body>
</html>