<!DOCTYPE html>
<head>
    <title>
      {% if page.title != 'Home' %}
        {{ page.title }} | Owen Laney
      {% else %}
        Owen Laney
      {% endif %}
    </title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="YQepl9WgWX2cXzLgfF-LcOvnMDCV9edY3OeSOZJEgcU" />
  </head>

<html>
  <body>
    <nav class="navbar">
      <div class="home-btn">
        <a href={{ "/" }}>Owen Laney</a>
      </div>
      <div class="navigation-links nav-middle">
        <ul class="nav-middle-content">
          <li><a href="#" id="aboutBtn">About</a></li>
          <li><a href={{ "/portfolio" }}>Portfolio</a></li>
          <li><a href={{ "/blog" }}>Blog</a></li>
          <li><a href="mailto:owenlaney@gmail.com">Contact</a></li>
        </ul>
      </div>
      <ul class="navigation-links nav-right">
        <div class="dropdown">
          <li><button class="drop-btn"> ☰ </button></li>
          <div class="drop-content">
            <a href={{ "/portfolio" }}>Portfolio</a>
            <a href={{ "/blog" }}>Blog</a>
            <a href="mailto:owenlaney@gmail.com">Contact</a>
          </div>
        </div>
      </ul>
    </nav>

    <section class="content">
      {{ content }}
    </section>

    <!-- The Modal -->
    <div id="aboutModal" class="modal">

      <!-- Modal content -->
      <div class="modal-window">
        <div class="modal-content">
          <h2>About Me</h2><div class="close">×</div>
          <p>
            Hello! My name is Owen Laney, and I enjoy programming and developing software. I have experience with web technologies such as Ruby on Rails, Sass, and JavaScript. Currently I'm learning C++ and native application development.
          </p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div></div>
      <ul class="navigation-links">
        <li><a href={{ "/" }}>Home</a></li>
        <li><a href={{ "/portfolio" }}>Portfolio</a></li>
        <li><a href={{ "/blog" }}>Blog</a></li>
        <li class="separator">|</li>
        <li><a href="https://github.com/owen-laney">Github</a></li>
        <li><a href="https://www.linkedin.com/in/owen-laney-07b78a239/">LinkedIn</a></li>
        <li class="separator">|</li>
        <li>©2022 Owen Laney</li>
        <li class="separator">|</li>
        <li><a href="mailto:owenlaney@gmail.com">Contact</a></li>
        <div></div>
      </ul>

    </footer>

    <script src="/scripts/main.js"></script>

  </body>
</html>