<!DOCTYPE html>
<head>
    <title>
      {% if page.title != 'Home' %}
        {{ page.title }} | Owen Laney
      {% else %}
        Owen Laney
      {% endif %}
    </title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<html>
  <body>
    <header class="navbar">
      <div>
        <a class="home-btn" href={{ "/" }}>Home</a>
        <a href="#" id="aboutBtn">About</a>
        <a href={{ "/portfolio" }}>Portfolio</a>
        <a href={{ "/blog" }}>Blog</a>
      </div>
      <div>
        <a href="https://github.com/owen-laney">GitHub</a>
      </div>
    </header>

    <section class="content">
      {{ content }}
    </section>

    <!-- The Modal -->
    <div id="aboutModal" class="modal">

      <!-- Modal content -->
      <div class="modal-window">
        <div class="modal-content">
          <h2>About Me</h2><div class="close">×</div>
          <p>My name is Owen Laney. I'm a student and developer, and I live in the United States. I mostly program for fun, and I post all of my projects on this site!
          </p>
        </div>
      </div>
    </div>

    <script src="/scripts/main.js"></script>

  </body>
</html>