<!DOCTYPE html>
<head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
</head>

<header class="home-navbar"><a href={{ "/" }}>Home</a></header>
<div class="home-header">
    <h1>{{page.title}}</h1><br>
    {{page.message}}
</div>

<section class="newest-post">
    <h2>Newest Post</h2>
    {% for post in site.posts limit:1 %}
        <img src="{{ post.thumbnail }}" style="height: 280px" align="center" /><br>
        <a href="{{ post.url }}">{{ post.title}}</a><br>
        <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>
            {{ post.description }}
        </p>
    {% endfor %}
</section>


<section class="recent-posts">
    <h2>Recent Posts</h2>
    <ul class="posts-home">
        {% for post in site.posts limit:3 offset:1 %}
            <li class="post-card"><img src="{{ post.thumbnail }}" style="height: 280px" align="center" /><br>
                <a href="{{ post.url }}">{{ post.title}}</a><br>
                <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
                <p>
                    {{ post.description }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

<div class="push"></div>
<footer>test</footer>
