---
    layout: default
---

<!DOCTYPE html>
    <head>
        <title> {{ page.title }} </title>
        <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
    </head>

    <body>
        <section class="posts-grid">
            {% for post in site.posts limit:1 offset:0 %}
                <a class="post-card post-card-1" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <img src="{{ post.thumbnail }}" />
                        <h2>{{ post.title}}</h2>
                        <p>
                            {{ post.date | date: "%b %-d, %Y" }}<br>
                            {{ post.description }}
                        </p>
                    </div>
                </a>
            {% endfor %}
            {% for post in site.posts limit:3 offset:1 %}
                <a class="post-card" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <img src="{{ post.thumbnail }}" />
                        <h2>{{ post.title}}</h2>
                        <p>
                            {{ post.date | date: "%b %-d, %Y" }}<br>
                            {{ post.description }}
                        </p>
                    </div>
                </a>
            {% endfor %}
        </section>
    </body>
</html>