---
    layout: default
    title: Home
---

<!DOCTYPE html>
    <head>
        <title> {{ page.title }} </title>
        <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
    </head>

    <body>
        {% assign blogPosts = site.posts | where:'category', 'blog' %}
        {% assign portfolioPosts = site.posts | where:'category', 'portfolio' %}
        <section class="posts-grid">
            {% for post in blogPosts limit:1 offset:0 %}
                <a class="post-card post-card-1" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <div class="featured-image" style="background-image:url( {{ post.thumbnail }} )"></div>
                        <div class="title-header">
                            <h2>{{ post.title}}</h2>
                            <p>
                                {{ post.description | truncatewords: 10 }}<br>
                                {{ post.date | date: "%b %-d, %Y" }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% for post in blogPosts limit:3 offset:1 %}
                <a class="post-card" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <div class="featured-image" style="background-image:url( {{ post.thumbnail }} )"></div>
                        <div class="title-header">
                            <h2>{{ post.title}}</h2>
                            <p>
                                {{ post.description | truncatewords: 10 }}<br>
                                {{ post.date | date: "%b %-d, %Y" }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <a class="more-articles" href="{{ "/blog" }}">More Blog Posts →</a>
        </section>

        <section class="posts-grid">
            {% for post in portfolioPosts limit:1 offset:0 %}
                <a class="post-card post-card-1" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <div class="featured-image" style="background-image:url( {{ post.thumbnail }} )"></div>
                        <div class="title-header">
                            <h2>{{ post.title}}</h2>
                            <p>
                                {{ post.description | truncatewords: 10 }}<br>
                                {{ post.date | date: "%b %-d, %Y" }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% for post in portfolioPosts limit:3 offset:1 %}
                <a class="post-card" href="{{ post.url }}" >
                    <div class="post-card-content">
                        <div class="featured-image" style="background-image:url( {{ post.thumbnail }} )"></div>
                        <div class="title-header">
                            <h2>{{ post.title}}</h2>
                            <p>
                                {{ post.description | truncatewords: 10 }}<br>
                                {{ post.date | date: "%b %-d, %Y" }}
                            </p>
                        </div>
                    </div>
                </a>
        {% endfor %}
            <a class="more-articles" href="{{ "/portfolio" }}">More Projects →</a>
        </section>

    </body>
</html>