---
    layout: default
---

{% assign portfolioPosts = site.posts | where:'category', 'portfolio' %}
<section class="all-posts-grid">
    {% for post in portfolioPosts limit:8 offset:0 %}
        <a class="post-card post-card-1" href="{{ post.url }}" >
            <div class="post-card-content">
                <div class="featured-image" style="background-image:url( {{ post.thumbnail | relative_url}} )"></div>
                <div class="title-header">
                    <h2>{{ post.title}}</h2>
                    <h3>
                        {{ post.description }}<br>
                        {{ post.date | date: "%b %-d, %Y" }}
                    </h3>
                </div>
            </div>
        </a>
    {% endfor %}
</section>